Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log

# Environment variables
.env

# Media files
/media

# Static files
/static

# Ignore virtual environments
venv/
env/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows thumbnail
Thumbs.db
